@model ProductViewModel

<main>
    <section id=news-main>
        <div class="container news-container">
            <img src="~/uploads/fusion-medical-animation-EAgGqOiDDMg-unsplash 1.png" style="opacity: 0.3;" alt="">

            <partial name="_breadcrumb" model="Model.BreadCrumb" />
        </div>
    </section>
    <section id="product1">
       
        <span>@Model.ProductCategory.Name</span>
        <div class="container product1-container">
           
            @foreach (var item in Model.Products)
            {
                <input type="hidden" asp-for="Product.ProductCategoryId" value="@Model.Id" />
                <div class="row product1-row">
                    <div class="col-lg-10 products">
                        <a asp-controller="products" asp-action="product" asp-route-id="@item.Id"><h5>@item.Name</h5></a>
                       
                    </div>
                   
                </div>
            }

        </div>

    </section>
</main>


