@model ProductCategoryViewModel

<main>
    <section id=news-main>
        <div class="container news-container">
            <img src="~/uploads/fusion-medical-animation-EAgGqOiDDMg-unsplash 1.png" style="opacity: 0.3;" alt="">
           <partial name="_breadcrumb" model="Model.BreadCrumb" />
        </div>
    </section>
    <section id="product1">
        <span>Məhsullar</span>
        <div class="container product1-container">
            @foreach (var item in Model.ProductCategories)
            {
                <div class="row product1-row">
                    <div class="col-lg-6 products">
                        <a asp-controller="products"asp-action="index" asp-route-id="@item.Id"><h3>@item.Name</h3></a>
                        <p>@item.About </p>
                    </div>
                    <div class="col-lg-6">
                        <img src="~/uploads/@item.CategoryImage" alt="">
                    </div>
                </div>
            }

           
        </div>

    </section>
</main>