@model PremiumMedStore.Models.Welcome

@{
    ViewData["Title"] = "Details";
}

<h1 class="ml-3">Detallar</h1>

<div class="ml-3">
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
           Başlıq
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.About)
        </dd>
        <dt class = "col-sm-3">
           Mövzu
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div class="ml-3">
    <a asp-action="Edit" asp-route-id="@Model.Id">Dəyişdir</a> |
    <a asp-action="Index">Geri</a>
</div>
