
@{
    ViewData["Title"] = "Index";
}

<main>
    <section id=news-main>
        <div class="container news-container">
            <img src="~/image/team.png" alt="">
            <partial name="_breadcrumb" />
        </div>
    </section>
    <section id="career1">
        <div class="container career1-container">
            <div class="row career1-row">
                <div class="col-lg-10 vacancy">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#meneger">
                                        Sales
                                        Maneger
                                    </a>
                                </h4>
                            </div>
                            <div id="meneger" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                                    nesciunt architecto laborum velit autem, voluptatum eaque ea quisquam non
                                    maiores quos minus aut temporibus! Modi totam tempore officiis minus deserunt!
                                </div>
                                <button type="submit" class="apply"><a asp-controller="career" asp-action="careerapply">Apply</a> </button>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                       href="#developer">Developer</a>
                                </h4>
                            </div>
                            <div id="developer" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, quam
                                    placeat. Laboriosam, possimus! Voluptatum accusantium fugit blanditiis
                                    dignissimos id nam libero, exercitationem atque perspiciatis sunt veniam nemo!
                                    Adipisci, magnam veritatis?
                                </div>
                                <button type="submit" class="apply"><a asp-controller="career" asp-action="careerapply">Apply</a> </button>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#desinger">Desinger</a>
                                </h4>
                            </div>
                            <div id="desinger" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Vivamus lacus risus, congue in commodo eu, vehicula nec libero. Duis tortor
                                    purus, interdum vitae consequat id, dapibus vitae mauris. Nam iaculis sed ligula
                                    quis lacinia. Nullam eros dolor, facilisis scelerisque diam vitae, pulvinar
                                    consequat nunc. Fusce tincidunt velit in dui laoreet, eget scelerisque urna
                                    vehicula. Sed aliquam odio lobortis semper consequat. Donec eleifend mi eget
                                    porttitor facilisis. Vivamus vel augue nisi. Integer convallis metus non euismod
                                    posuere. Mauris at lectus augue. Duis et consectetur leo.

                                    Nam iaculis magna ac libero sollicitudin sodales. Nulla commodo hendrerit sapien
                                    in finibus. Vestibulum feugiat sit amet purus gravida pretium. Aenean accumsan
                                    elit at maximus convallis. Orci varius natoque penatibus et magnis dis
                                    parturient montes, nascetur ridiculus mus. Integer venenatis massa ut dui
                                    dictum, auctor iaculis metus ultricies. Nunc at sodales purus, quis suscipit
                                    enim.
                                </div>
                                <button type="submit" class="apply"><a asp-controller="career" asp-action="careerapply">Apply</a> </button>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#manager">
                                        Project
                                        Manager
                                    </a>
                                </h4>
                            </div>
                            <div id="manager" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
                                    iste magni aspernatur illum soluta ipsam eum molestias atque necessitatibus,
                                    dolor excepturi autem est sunt dignissimos, nulla dolorem! Natus, deserunt
                                    officia.
                                </div>
                                <button type="submit" class="apply"><aasp-controller ="career" asp-action="careerapply">Apply</a> </button>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                       href="#reception">Reception</a>
                                </h4>
                            </div>
                            <div id="reception" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
                                    iste magni aspernatur illum soluta ipsam eum molestias atque necessitatibus,
                                    dolor excepturi autem est sunt dignissimos, nulla dolorem! Natus, deserunt
                                    officia.
                                </div>
                                <button type="submit" class="apply"><a asp-controller="career" asp-action="careerapply">Apply</a> </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </section>
</main>

