
@model CareerViewModel
<main>
    <section id=news-main>
        <div class="container news-container">
            <img src="~/Uploads/team.png" alt="">
            <partial name="_breadcrumb" model="Model.BreadCrumb"/>
        </div>
    </section>
    <section id="career1">
        <div class="container career1-container">
            <div class="row career1-row">
                <div class="col-lg-10 vacancy">
                    <div class="panel-group" id="accordion">
                        @foreach (var item in Model.Vacancy)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#@item.Link">
                                           @item.Name
                                        </a>
                                    </h4>
                                </div>
                                <div id="@item.LinkName" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        @item.Desc
                                    </div>
                                    <button type="submit" class="apply"><a asp-controller="career" asp-action="careerapply" asp-route-id="@item.Id">Apply</a> </button>
                                </div>
                            </div>
                        }

                        
                    </div>

                </div>
            </div>

        </div>

    </section>
</main>

