@model PremiumMedStore.Models.Products

@{
    ViewData["Title"] = "Create";
}

<h1>Yarat</h1>

<h4>Məhsullar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Upload" class="control-label"></label>
                <input asp-for="Upload" class="form-control" />
                <span asp-validation-for="Upload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Upload1" class="control-label"></label>
                <input asp-for="Upload1" class="form-control" />
                <span asp-validation-for="Upload1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Upload2" class="control-label"></label>
                <input asp-for="Upload2" class="form-control" />
                <span asp-validation-for="Upload2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Upload3" class="control-label"></label>
                <input asp-for="Upload3" class="form-control" />
                <span asp-validation-for="Upload3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductAbout" class="control-label"></label>
                <input asp-for="ProductAbout" class="form-control" />
                <span asp-validation-for="ProductAbout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullAbout" class="control-label"></label>
                <input asp-for="FullAbout" class="form-control" />
                <span asp-validation-for="FullAbout" class="text-danger"></span>
            </div>
            <div class="custom-file my-3">
                <input asp-for="File" class="custom-file-input">
                <label asp-for="File" class="custom-file-label">Fayl Seçin</label>
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCategoryId" class="control-label"></label>
                <select asp-for="ProductCategoryId" class="form-control">
                    @foreach (var item in ViewBag.Products)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Yarat" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-lg-1 ">
        <img class="image-preview img-fluid mt-4" />
    </div>
    <div class="col-lg-1 ">
        <img class="image-preview img-fluid mt-4" />
    </div>
    <div class="col-lg-1 ">
        <img class="image-preview img-fluid mt-4" />
    </div>
    <div class="col-lg-1 ">
        <img class="image-preview img-fluid mt-4" />
    </div>
</div>

<div>
    <a asp-action="Index">Geri</a>
</div>

@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#Upload").change(function () {
                var file = this.files[0];
                var fileReader = new FileReader();
                fileReader.onload = function (e) {
                    var preview = $(".image-preview");
                    preview[0].src = e.target.result;
                    //$(".image-preview")[i].attr("src", e.target.result);
                };
                fileReader.readAsDataURL(file, "UTF-8");
            });
            $("#Upload1").change(function () {
                var file = this.files[0];
                var fileReader = new FileReader();
                fileReader.onload = function (e) {
                    var preview = $(".image-preview");
                    preview[1].src = e.target.result;
                    //$(".image-preview")[i].attr("src", e.target.result);
                };
                fileReader.readAsDataURL(file, "UTF-8");
            });
            $("#Upload2").change(function () {
                var file = this.files[0];
                var fileReader = new FileReader();
                fileReader.onload = function (e) {
                    var preview = $(".image-preview");
                    preview[2].src = e.target.result;
                    //$(".image-preview")[i].attr("src", e.target.result);
                };
                fileReader.readAsDataURL(file, "UTF-8");
            });
            $("#Upload3").change(function () {
                var file = this.files[0];
                var fileReader = new FileReader();
                fileReader.onload = function (e) {
                    var preview = $(".image-preview");
                    preview[3].src = e.target.result;
                    //$(".image-preview")[i].attr("src", e.target.result);
                };
                fileReader.readAsDataURL(file, "UTF-8");
            });
        });
    </script>
}
