
@model ContactViewModel

<main>
    <section id="news2">
        <div class="div">
            <partial name="_breadcrumb" model="Model.BreadCrumb" />
        </div>
        <div class="container contact-container">
            <div class="row contact-row">
                <div class="col-lg-4 contact2">
                    <ul class="contact-list">
                        <li>
                            <span>ÜNVAN</span>
                            <p>@Model.Setting.Adress</p>
                        </li>
                        <li>
                            <span>MAIL ÜNVANI</span><br>
                            <a href="info@premiummed.az">@Model.Setting.Email</a>
                        </li>
                        <li>
                            <span>ƏLAQƏ NÖMRƏSİ</span>
                            <p>
                                @Model.Setting.Telephone <br>

                               @Model.Setting.Telephone2
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 map">
                    <div class="mapouter map-container">
                        <div class="gmap_canvas">
                            <div style="width: 100%"><iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=Bak%C4%B1%20%C5%9F%C9%99h%C9%99ri,%20Sabun%C3%A7u%20rayonu,%20Zabrat%201%20q%C9%99s%C9%99b%C9%99si+(PremiumMed)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                                <a href="http://www.gps.ie/">vehicle gps</a></iframe></div>                            <style>
                                .mapouter {
                                    position: relative;
                                    text-align: right;
                                    height: 414px;
                                    width: 718px;
                                }
                            </style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
                            <style>
                                .gmap_canvas {
                                    overflow: hidden;
                                    background: none !important;
                                    height: 353px;
                                    width: 718px;
                                }
                            </style>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
</main>
