
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">@Model.Title</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Links</li>
    </ol>
</nav>