<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/font/fonts.css">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="https://kit.fontawesome.com/1f2890de0d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>

    <header>
        <section id="head-section">
            <div class="container head-start-container">
                <div class="row head-start-row">
                    <div class="col-lg-4 sosialmedia">
                        <ul>
                            <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                            <li><a href=""><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 info">
                        <span>+994 (55) 850 11 15 / 11 16</span>
                        <a href="info@premiummed.az">info@premiummed.az</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="navbar">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid mr-5 ml-5 head">
                    <a class="navbar-brand logo" asp-controller="home" asp-action="index"><img src="~/Uploads/Logo.png" alt=""></a>
                    <span>
                        PremiumMed MMC <br>
                        Keyfiyyət və xidmətdə sizi düşünərək!
                    </span>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link ml-4" asp-controller="aboutus" asp-action="index">Haqqımızda </a>
                            </li>
                            <li class="dropdown" id="menu1">
                                <a class="dropdown-a" data-toggle="dropdown" href="#menu1">
                                    Məhsullar
                                </a>
                                <ul class="dropdown-menu" style="column-count: 2;">
                                    <li>
                                        <a asp-controller="products" asp-action="product">Covid-19</a>
                                    </li>
                                    <li>
                                        <a href="#">Instruments</a>
                                    </li>
                                    <li>
                                        <a href="#">Poct</a>
                                    </li>
                                    <li>
                                        <a href="#">Elisa</a>
                                    </li>
                                    <li>
                                        <a href="#">Biochemistry</a>
                                    </li>
                                    <li>
                                        <a href="#">Rapid Test</a>

                                    </li>
                                    <li>
                                        <a href="#">Real Time PCR</a>
                                    </li>
                                    <li>
                                        <a href="#">Dezinfection</a>
                                    </li>
                                    <li>
                                        <a href="#">Vacuum Blood Tubes</a>
                                    </li>
                                    <li>
                                        <a href="#">Consumables</a>
                                    </li>
                                    <li>
                                        <a href="#">Controls(External,internal)</a>
                                    </li>
                                    <li>
                                        <a href="#">Programs 7/24</a>
                                    </li>
                                    <li>
                                        <a href="#">Coagulations</a>
                                    </li>
                                    <li>
                                        <a href="#">Rapid Test+Latex</a>
                                    </li>
                                    <li>
                                        <a href="#">Rapid Test</a>
                                    </li>
                                    <li>
                                        <a href="#">Dezinfection</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" asp-controller="news" asp-action="index">Xəbərlər</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" asp-controller="galery" asp-action="index">Qalereya</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" asp-controller="career" asp-action="index">Karyera</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" asp-controller="contact" asp-action="index">Əlaqə</a>
                            </li>
                            <li class="dropdown" id="menu2">
                                <a class="dropdown-a" data-toggle="dropdown" href="#menu2">
                                    AZ <i class="fas fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu mr-1">
                                    <li>
                                        <a href="#">EN</a>
                                    </li>
                                    <li>
                                        <a href="#">TR</a>
                                    </li>
                                    <li><a href="#">RU</a>

                                </ul>
                            </li>

                            <li class="nav-item">
                                <button><a asp-controller="products" asp-action="index">Sifariş et</a></button>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </section>
    </header>

    @RenderBody()

    <footer>
        <section id="footer">
            <div class="container footer-container">
                <div class="row footer-row">
                    <div class="big-column1 col-lg-6">
                        <a asp-controller="home" asp-action="index">
                            <img src="~/Uploads/Logo.png" alt="">
                        </a>
                        <p>PremiumMed MMC , tibbi laborator avadanlıqları, reaktivlər və sərfiyyatları istehlak edən ən böyük istehsalçı şirkətlərin, dünyaca məşhur brendlərin Azərbaycan bazarına ixracatçısıdır.</p>
                    </div>
                    <div class="big-column2 col-lg-6">
                        <div class="col-lg-3 page-column">
                            <h5>Səhifələr</h5>
                            <ul class="items">
                                <li class="item"><a asp-controller="aboutus" asp-action="index">Haqqımızda</a></li>
                                <li class="item"><a asp-controller="products" asp-action="index">Məhsullar</a> </li>
                                <li class="item"><a asp-controller="galery" asp-action="index">Qalereya</a></li>
                                <li class="item"><a asp-controller="news" asp-action="freenews">Xəbərlər</a></li>
                                <li class="item"><a asp-controller="news" asp-action="mission">Tədbirlər</a></li>
                                <li class="item"><a asp-controller="career" asp-action="index">Karyera</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 contact">
                            <h5>Əlaqə</h5>
                            <ul class="contact-lists">
                                <li class="contact-list">+99455 600 72 09</li>
                                <li class="contact-list">info@premiummed.az</li>
                                <li class="contact-list">
                                    Trading Bot LTD, registered
                                    at Baku
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <hr>
            <div class="footer-copyright">
                <div class="inner-container clearfix">
                    <div class="copyright-text">
                        <p> © 2021 Bütün hüquqlar qorunur.</p>
                    </div>
                </div>
                <ul class="sosial">
                    <li class="items"><a href=""><i class="fab fa-facebook-square"></i></a></li>
                    <li class="items"><a href=""><i class="fab fa-twitter"></i></a></li>
                    <li class="items"><a href=""><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
            </div>

        </section>

    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="~/js/script.js"></script>
</body>

</html>