
@model GaleryViewModel


<main>
    <section id="news2">
        <div class="div">
            <partial name="_breadcrumb" model="Model.BreadCrumb" />
        </div>
    </section>
    <section id="galery">
        <div class="container galery-container">
            <div class="row galery-row">
                <div class="col-lg-10 glry">
                    <div class="owl-carousel karusele-row owl-theme">
                        @foreach (var item in Model.Galery)
                        {
                            <div class="item popup-gallery">

                                <a href="~/uploads/@item.Photo" title="The Cleaner">
                                    <img src="~/uploads/@item.Photo" width="175" height="175">
                                </a>
                                <a href="~/uploads/@item.Photo1" title="The Cleaner">
                                    <img src="~/uploads/@item.Photo1" width="175" height="175">
                                </a>
                                <a href="~/uploads/@item.Photo2" title="The Cleaner">
                                    <img src="~/uploads/@item.Photo2" width="75" height="75">
                                </a>
                            </div>
                        }



                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

