@model AboutViewModel

<main>
    <section id=news-main>
        <div class="container news-container">
            <img src="~/Uploads/image.7.png" alt="">
            <partial name="_breadcrumb" model="@Model.BreadCrumb" />
        </div>
    </section>
    <section id="aboutus">
        <div class="container aboutus-container">
            <div class="row aboutus-row">
                <div class="col-lg-5 missions">
                    <ul class="list">
                        <li><a asp-controller="aboutus" asp-action="index">Haqqımızda</a> </li>
                        <li><a asp-controller="aboutus" asp-action="mission" class="active">Misiya</a> </li>
                        <li><a asp-controller="aboutus" asp-action="vision">Vizyon</a> </li>
                        <li><a asp-controller="aboutus" asp-action="quality">Keyfiyyət Siyasəti</a> </li>
                    </ul>


                </div>
                <div class="col-lg-7 description">
                    <p>
                        Tibb sektorunun dinamikasını ən yaxşı şəkildə təhlil edərək, ən uyğun ticari şərtlər altında,
                        uzunmüddətli, qeyri-şərtsiz müştəri məmnuniyyəti təmin etmək və yüksək peşəkarlıqla,
                        Azərbaycan laboratoriyalarını dünya bazarında beynəlxalq standartlara cavab verən keyfiyyətli
                        mallarla təchiz edərək, markalarımıza sadiq müştərilər yaratmaq, cəmiyyətin sağlamlıq
                        səviyyəsini və həyat keyfiyyətini yüksəltməyə xidmət edəcək tibbi laboratoriyalarımızı, zəruri
                        avadanlıqlar və məhsullarla təmin etmək.
                        Keçmiş referanslarımızın, gələcək işimizin öhdəliyi olduğunu nəzərə alaraq, dəyərli müştərilərimizə
                        ən yaxşı xidməti təqdim etmək.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
