
@model AboutViewModel
<main>
    <section id=news-main>
        <div class="container news-container">
            <img src="~/Uploads/image.7.png" alt="">
            <partial name="_breadcrumb" model="@Model.BreadCrumb" />
        </div>
    </section>
    <section id="aboutus">
        <div class="container aboutus-container">
            <div class="row aboutus-row">
                <div class="col-lg-5 missions">
                    <ul class="list">
                        <li><a asp-controller="aboutus" asp-action="index">Haqqımızda</a> </li>
                        <li><a asp-controller="aboutus" asp-action="mission">Misiya</a></li>
                        <li><a asp-controller="aboutus" asp-action="vision" class="active">Vizyon</a></li>
                        <li><a asp-controller="aboutus" asp-action="quality">Keyfiyyət Siyasəti</a></li>
                    </ul>
                </div>
                <div class="col-lg-7 description">
                    <p>
                        Keyfiyyət, etibar, insan sağlamlığı, prestij, müştəri məmnuniyyəti prinsiplərinə sadiq
                        qalaraq,
                        xidməti şaxələndirmək və təkmilləşdirməklə, dünya standartlarına uyğun, müştərilərə xidmət
                        etmək. Peşəkar sərmayələri və proffesional, dinamik komanda ilə ən yüksək bazar payına
                        malik, öz sahəsində ən müxtəlif məhsul çeşidi təqdim edən tibbi laborator məhsullar
                        istehlakçısı
                        olmaq.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>